@use '../../helpers/_mixins' as *;
.navbar {
  .nav-links {
    --border-rad: 10px 0 0 10px;
    --pad: 40px;
    display: flex;
    font-weight: 400;
    flex-direction: column;
    list-style: none;
    transform: translate(100%);
    border-radius: var(--border-rad);
    padding: var(--pad) 0;
    color: var(--clr-primery-100);
    overflow: hidden;
    transition: transform var(--transition-speed, 400ms);
    position: absolute;
    right: 0;
    top: 0;
    min-width: 250px;
    min-height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -5px -10px 100px rgb(32 95 154 / 12%);
    li {
      @include fillAnim(transparent, 1, true, #25ccc7);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-block: 5px;
      .nav-link {
        transition: var(--transition-speed);
        top: 15px;
        bottom: 15px;
        left: 20px;
        display: block;
        width: 100%;
        &:hover,
        &:focus {
          color: #25ccc7;
        }
      }
    }

    @include media(min-mobile) {
      min-width: 600px;
      padding-block: 5px 15px;
      --border-rad: 0;
      position: static;
      transform: none;
      min-height: unset;
      width: 100%;
      flex-direction: row;
      box-shadow: rgba(32 95 154 / 12%) 0px 13px 13px -12px;
      border-radius: 0 0 5px 5px;
      align-items: center;
      justify-content: center;
      li {
        border: none;
        padding: 0;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
      .nav-link {
        padding: 10px 15px;
        font-size: 1.9rem;
        text-transform: capitalize;
        &::before {
          transform-origin: right;
        }
      }
    }
  }
}
