@use '../../helpers/_mixins' as mix;
@forward './navlinks';
@forward './menu-icon';
@forward './overlay';
.navbar {
  position: fixed;
  top: 15px;
  right: 0;
  z-index: 100;
  @include mix.media(min-mobile) {
    top: 0;
    width: 100%;
    transition: transform var(--transition-speed);
  }
}
// wide screens styling
