@use "../helpers/_mixins" as *;
@use "sass:math";
.about {
  background-color: var(--bg-main-700);
  color: var(--clr-primery-100);
  min-height: 100vh;
  padding: {
    top: 6rem;
    bottom: 6rem;
  }
  .info {
    .shape {
      height: 200px;
      width: 200px;
      margin-inline: auto;
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;
      border-bottom-right-radius: 30% 25%;
      border-bottom-left-radius: 30% 25%;
      &:hover {
        img {
          transform: translate(5px, -35px) scale(0.8);
        }
        .overlay {
          background-position: 100% 100%;
        }
      }
      @include media(min-mobile) {
        width: 270px;
        height: 270px;
        &:hover img {
          transform: translate(5px, -55px) scale(0.75);
        }
      }
      .overlay {
        background-image: linear-gradient(
          180deg,
          var(--clr-accent-100),
          #4c7db6,
          #a7456d
        );
        border-radius: 76% 76% 60% 52% / 100% 100% 46% 50%;
        position: absolute;
        width: 100%;
        height: 95%;
        left: 0;
        bottom: -10px;
        transition: background var(--transition-speed) ease-in-out;
        background-repeat: no-repeat;
        background-size: 100% 200%;
        background-position: 0% 60%;
      }
      img {
        transition: transform var(--transition-speed) ease-in-out;
        max-width: 100%;
        transform: translate(5px, -15px) scale(0.75);
      }
    }
    .discription {
      color: var(--clr-primery-300);
      text-align: center;
      font-size: 2rem;
      line-height: 1.3;
      max-width: 600px;
      margin: auto;
    }
  }
  .skills-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-block: 40px 20px;
    line-height: 1.3;
    grid-column: 1/-1;
    &.hide-cursor::after {
      content: unset;
    }
    &::after {
      content: "|";
      color: var(--clr-accent-100);
      font-weight: bold;
      animation: blink 500ms  infinite;
    }
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 100px));
    justify-content: center;
    align-items: center;
    gap: 15px;
    &.active .skill {
      filter: brightness(1);
      transform: scale(1);
    }
    .skill {
      padding: 5px;
      z-index: 5;
      border: 1px solid var(--clr-accent-100);
      position: relative;
      filter: brightness(0);
      transform: scale(0);
      transition-duration: var(--transition-speed);
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        right: 0;
        bottom: 0;
        background: var(--bg-main-800);
      }
      border-radius: 4px;
      box-shadow: rgba(50, 185, 205, 0.25) 0px 50px 100px -20px,
        rgba(255, 255, 255, 0.3) 0px 30px 60px -30px;
      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin: auto;
          width: 64px;
        }
      }
      .title {
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 10px;
        font-family: sans-serif;
      }
    }
  }
}

@keyframes spining {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
