@use "../helpers/_mixins";

$colors: (
  primery: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 60%),
    300: hsl(0, 0%, 55%),
    500: hsl(0, 0%, 30%),
    600: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 0%),
  ),
  secondary: (
    100: hsl(188, 61%, 50%),
    300: hsl(188, 61%, 40%),
    500: hsl(188, 61%, 30%),
    600: hsl(188, 61%, 20%),
    800: hsl(188, 61%, 15%),
  ),
  special: (
    100: hsl(41, 80%, 59%),
    300: hsl(41, 80%, 49%),
    500: hsl(41, 80%, 39%),
    600: hsl(41, 80%, 30%),
    800: hsl(41, 80%, 20%),
  ),
);

