@use "../helpers/_mixins";

$colors: (
  primery: (
    100: hsl(0, 0%, 20%),
    300: hsl(0, 0%, 16%),
    500: hsl(0, 0%, 12%),
    600: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 4%),
  ),
  secondary: (
    100: hsl(188, 61%, 50%),
    300: hsl(188, 61%, 40%),
    500: hsl(188, 61%, 30%),
    600: hsl(188, 61%, 20%),
    800: hsl(188, 61%, 10%),
  ),
  special: (
    100: hsl(41, 80%, 59%),
    300: hsl(41, 80%, 49%),
    500: hsl(41, 80%, 39%),
    600: hsl(41, 80%, 30%),
    800: hsl(41, 80%, 20%),
  ),
);

// $colors: (clr-bright: white,clr-dark: #121212,main-clr:hsl(187, 60%, 20%),secondary-clr:gray,special-clr:#eab543);

/*hsl(211, 20%, 25%)*/
