@use "../helpers/_mixins";

$colors: (
  primery: (
    100: hsl(0, 0%, 100%),
    300: #e6e6e6,
    500: hsl(0, 0%, 30%),
    600: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 0%),
  ),
  secondary: (
    100: hsl(188, 61%, 50%),
    300: hsl(188, 61%, 40%),
    500: hsl(188, 61%, 30%),
    600: hsl(188, 61%, 20%),
    800: hsl(188, 61%, 9%),
  ),
  special: (
    100: hsl(41, 80%, 59%),
    800: hsl(41, 80%, 20%),
  ),
);
$bg-clrs: (
  main: (
    700: hsl(232deg 60% 7%),
    800: hsl(215, 55%, 6%),
  ),
);
