@use "../components/_colors" as *
:root
  // to make rem unit 10 based unit  to calculate it easier
  font-size: 62.5%
  --base-transition: 400ms
  @each $color,$shades in $colors
    @each $prop,$shade in $shades
      --clr-#{$color}-#{$prop}: #{$shade}
body
  font-size: 1.6rem
  font-family: 'Open Sans', sans-serif
  background-color: var(--clr-primery-800)
*,
*::before,
*::after 
  box-sizing: border-box
  padding: 0
  margin: 0

a
  color: inherit
  text-decoration: none
button
  border: none
img
  max-width: 100%

