@use "../components/_colors" as *
@use  "../helpers/_mixins" 
:root
  // to make rem unit 10 based unit  to calculate it easier
  scroll-behavior: smooth
  font-size: 62.5%
  --base-transition: 400ms
  @include  mixins.convertColorsToCssVariables($colors,clr)
  @include  mixins.convertColorsToCssVariables($bg-clrs,bg)
  --box-shadow-clr: rgba(0,0,0,0.5)
body
  font-size: 1.6rem
  font-family: 'Open Sans', sans-serif
  background-color: var(--bg-main-800)
  height: 800vh
*,
*::before,
*::after
  box-sizing: border-box
  padding: 0
  margin: 0

a
  color: inherit
  text-decoration: none
button
  border: none
img
  max-width: 100%
.special-clr
  color: var(--clr-secondary-100)
  font-weight: 600
