@use "../components/_colors" as *
// Start Global Rules
:root
  // to make rem unit 10 based unit to calculate it easier
  font-size: 62.5%
  --clr-bright: #{$clr-bright}
  --clr-dark: #{$clr-dark}
  --base-transition: 400ms
body 
  font-size: 1.6rem
  font-family: 'Open Sans', sans-serif
*
  box-sizing: border-box
  padding: 0
  margin: 0
a
  color: inherit
  text-decoration: none
button
  border: none
img 
  max-width: 100%




// End Global Rules