.about {
  .discription {
    color: var(--clr-primery-300);
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 450px;
    font-size: 1.5em;
    svg {
      margin-bottom: -3px;
      color: var(--clr-accent-400);
    }
    @media (max-width: 772px) {
      margin: auto;
      text-align: center;
      svg {
        display: none;
      }
    }
  }
}
