@use "../helpers/_mixins" as *
.navbar
  position: fixed
  top: 15px
  right: 0
  transform: translate(0)
  z-index: 100
  .nav-links
    --border-rad: 10px 0 0 10px
    --pad: 40px
    display: flex
    flex-direction: column
    list-style: none
    border-radius: var(--border-rad)
    padding: var(--pad) 0
    color: var(--clr-primery-100)
    overflow: hidden
    transition: transform var(--base-transition,400ms)
    transform: translateX(0)
    width: 260px
    min-height: 80vh
    background-color: var(--clr-secondary-800)
    border:
      left: 1px solid var(--clr-secondary-500)
      top: 1px solid var(--clr-secondary-500)
    transform: translatex(260px)
    @include pseudo()
      border-radius: inherit
      background-color: rgba(black,0.5)

    &.active
      transform: translateX(0)
    li
      @include fillAnim(var(--clr-primery-100),0.05,true,var(--clr-secondary-300))
      &:hover,
      &:focus
        .nav-link
          padding-left: 28px
          color: var(--clr-special-100)
      .nav-link
        transition: var(--base-transition)
        padding:
          top: 15px
          bottom: 15px
          left: 20px
        display: block
        width: 100%
  .menu
    cursor: pointer
    user-select: none
    position: absolute
    right: 10px
    top: 10px
    z-index: 3
    img
      width: 25px
  // wide screens styling
  @include media(min-mobile)
    right: 50%
    top: 0
    transition: transform var(--base-transition)
    transform: translate(50% ,-100%)
    .nav-links
      --border-rad: 0
      --pad: 15px
      padding: var(--pad)
      min-height: unset
      width: 100%
      flex-direction: row
      border: none
      align-items: center
      justify-content: center
      height: fit-content
      transform: translateX(0)
      &.active
        transform: translate(0)
      li
        text-align: center
        &:not(:last-child)
          margin-right: 30px
        .nav-link
          --pading: 10px 15px
          padding: var(--pading)
        &:hover
          .nav-link
            padding: var(--pading)
        &::before
          opacity: 0
          display: none
    .menu
      width: 100%
      position: absolute
      left: 0
      top: 100%
      text-align: center
      cursor: default
      img
        width: 30px
        cursor: pointer
    &.active
      transform: translate(50%, 0%)
